body {
  margin: 0;
  overflow: hidden;
}

.desktop {
  width: 100vw;
  height: 100vh;
  background-image: url('assets/background4.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.icon {
  position: absolute;
  width: 50px;
  cursor: pointer;
}

.window {
  display: none;
  position: absolute;
  top: 150px;
  left: 300px;
  width: 300px;
  background: #c0c0c0;
  border: 2px solid #000;
  font-family: sans-serif;
  z-index: 10;
}

#mail-popup {
  width: 700px;
  min-height: 600px;
  background-image: url('assets/popup-bg.jpg');
  background-size: cover;
  background-position: center;
}

.titlebar {
  background: navy;
  color: white;
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
}

.window-body {
  padding: 15px;
  text-align: center;
}
